body {
    margin: 0;
    font-family: Helvetica;
}

/* Manages titles in page */
h4 {
    font-weight: bold;
    margin: 30px 0px 10px 0px;
}

/* Remove extra spacing */
p {
    margin: 0px;
}

/* Controls main row spanning entire page */
.main-row{
    height: 100vh;
    overflow: scroll;
}

/* Controls left column containing navigation items */
.nav-col{
    display: flex;
    flex-direction: column;
    background-color: #dce7ef;
}

/* Controls 'button' layout in navigation column */
.navi-btn {
    padding: 10px 0px 10px 20px;
    border-radius: 5px;
}

/* Controls on-mouse hover action in navigation col */
label:hover {
    transition: 0.15s ease-out;
    background: #c7d2dd;
}

/* Controls right column containing message items */
.right-column {
    display: flex;
    flex-direction: column;
    /* your main axis is from top to bottom */
    background-color: white;
    justify-content: space-between;
}

/* Container for mesage contents including avatar, name, date, message */
.displayed-message-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f8f9;
    border: 2px solid #e6e5e5;
    border-radius: 5px;
    padding: 15px;
}

/* Used to impose a newline in a flex container */
.line-break {
    width: 100%;
  }

/* Manages the avatar image */
#avatar-space img{
    width: 40px;
    border-radius: 50%; /* Makes the avatar look like a circle */
    margin-right: 25px;
}

/* Adding margin-bottom to textbox */
.textbox-bottom-margin {
    margin: 0px 0px 12px 0px;
}








